@charset "UTF-8";
* {
  font-family: 'Roboto',sans-serif;
}

.header {
  min-height: 85px;
  padding: 14px 0 14px 0;
}

.header .menuactive {
  display: none;
}

.header .active .cytes {
  display: none;
}

.header .cytes {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .cytes_list {
  position: relative;
  font-weight: 300;
  font-size: 12px;
  color: #242424;
}

.header .cytes_list span {
  font-size: 18;
  font-weight: 700;
  color: #242424;
}

.header .cytes_list::before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 28px;
  height: 21px;
  background: url("../icons/header/ucrain.png") center center/cover no-repeat;
  -webkit-transform: translate(-39px, 0px);
          transform: translate(-39px, 0px);
}

.header .cytes .one {
  position: relative;
  font-weight: 300;
  font-size: 12px;
  color: #242424;
}

.header .cytes .one span {
  font-size: 18;
  font-weight: 700;
  color: #242424;
}

.header .cytes .one::before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 28px;
  height: 21px;
  -webkit-transform: translate(-39px, 0px);
          transform: translate(-39px, 0px);
  background: url("../icons/header/germany.png") center center/cover no-repeat;
}

.header .cytes .two {
  position: relative;
  font-weight: 300;
  font-size: 12px;
  color: #242424;
}

.header .cytes .two span {
  font-size: 18;
  font-weight: 700;
  color: #242424;
}

.header .cytes .two::before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 28px;
  height: 21px;
  -webkit-transform: translate(-39px, 0px);
          transform: translate(-39px, 0px);
  background: url("../icons/header/estonia.png") center center/cover no-repeat;
}

.header .cytes .tree {
  position: relative;
  font-weight: 300;
  font-size: 12px;
  color: #242424;
}

.header .cytes .tree span {
  font-size: 18;
  font-weight: 700;
  color: #242424;
}

.header .cytes .tree::before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 28px;
  height: 21px;
  -webkit-transform: translate(-39px, 0px);
          transform: translate(-39px, 0px);
  background: url("../icons/header/britani.jpg") center center/cover no-repeat;
}

.header .cytes .for {
  position: relative;
  font-weight: 300;
  font-size: 12px;
  color: #242424;
}

.header .cytes .for span {
  font-size: 18;
  font-weight: 700;
  color: #242424;
}

.header .cytes .for::before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 28px;
  height: 21px;
  -webkit-transform: translate(-39px, 0px);
          transform: translate(-39px, 0px);
  background: url("../icons/header/luxenburk.png") center center/cover no-repeat;
}

.section1 {
  min-height: 700px;
  padding-top: 35px;
  background: url("../img/header/фон.jpg") center center/cover no-repeat;
}

.section1 .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin-top: 20px;
}

.section1 .menu_list {
  font-size: 17px;
  font-weight: 700;
  vertical-align: top;
}

.section1 .menu_list a {
  color: #F5F5F5;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section1 .menu_list a:hover {
  color: #F4A460;
}

.section1 .title {
  margin-top: 117px;
  width: 613px;
}

.section1 .title_sub {
  font-size: 42px;
  font-weight: 900;
  color: #ffffff;
  line-height: 49px;
}

.section1 .title_descr {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  line-height: 30px;
}

.section1 .title_descr span {
  font-weight: 400;
}

.section1 .title button {
  width: 250px;
  height: 67px;
  border-radius: 5px;
  background-color: #00BFFF;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 41px;
}

.section1 .title button:hover {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, #696969), to(#1E90FF));
  background: linear-gradient(to top, #696969 5%, #1E90FF);
}

.section1 .tele {
  margin-top: 31px;
  max-width: 434px;
  max-height: 569px;
}

.section2 {
  min-height: 895px;
  padding: 79px 0 0 0;
}

.section2 .title {
  text-align: center;
  font-size: 49px;
  font-weight: 700;
  color: #393939;
}

.section2 .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.section2 .list_sub {
  width: 360px;
  height: 255px;
}

.section2 .list_sub img {
  display: block;
  margin: 0 auto;
}

.section2 .list_sub .listdescr {
  margin: 0 auto;
  width: 308px;
  height: 75px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #393939;
}

.section2 .list_sub .descr {
  margin-top: -63px;
}

.section2 .list_sub .light {
  font-weight: 400;
}

.section3 {
  min-height: 890px;
  padding: 67px 0 61px;
  background: url("../img/section2/фон.jpg") center center/cover no-repeat;
}

.section3 .title {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  color: #ffffff;
}

.section3 .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  border: solid 1px #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
  padding-left: 0;
  height: 64px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 28px;
  width: 1045px;
}

.section3 .list_main {
  margin-right: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  border-right: solid 1px rgba(255, 255, 255, 0.5);
  padding-right: 54px;
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3 .list_main:nth-child(6) {
  margin-right: -39px;
  border-right: none;
}

.section3 .list_main a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section3 .list_main a:hover {
  color: #00FFFF;
}

.section3 img {
  display: block;
  margin: 0 auto;
  margin-top: 36px;
}

.section4 {
  min-height: 1334px;
  padding: 69px 0 80px;
}

.section4 .title {
  text-align: center;
  font-weight: 900;
  font-size: 30;
  color: #393939;
}

.section4 .w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 35px;
}

.section4 .w .wapper {
  width: 540px;
  height: 355px;
  background: url("../img/section3/1.jpg") center center/cover no-repeat;
}

.section4 .w .wapper .wap {
  height: 156px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 98px;
  text-align: center;
  font-size: 23px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 50px;
  line-height: 24px;
}

.section4 .w .wapper:nth-child(2) {
  background: url("../img/section3/2.jpg") center center/cover no-repeat;
}

.section4 .w .wapper:nth-child(3) {
  background: url("../img/section3/3.jpg") center center/cover no-repeat;
}

.section4 .w .wapper:nth-child(4) {
  background: url("../img/section3/4.jpg") center center/cover no-repeat;
}

.section4 .w .wapper:nth-child(5) {
  background: url("../img/section3/5.jpg") center center/cover no-repeat;
}

.section4 .w .wapper:nth-child(6) {
  background: url("../img/section3/6.jpg") center center/cover no-repeat;
}

.section5 {
  position: relative;
  min-height: 580px;
  padding: 67px 0 181px 0;
  background: url("../img/section5/main.jpg") center center/cover no-repeat;
}

.section5 .title {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  color: #ffffff;
}

.section5 .title::before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 167px;
  height: 167px;
  background-color: rgba(0, 191, 255, 0.2);
  -webkit-transform: translate(594px, 172px);
          transform: translate(594px, 172px);
}

.section5 .chek {
  position: relative;
  color: #ffffff;
  text-decoration: none;
}

.section5 .chek:hover {
  color: #FFDAB9;
}

.section5 .chek .sub {
  font-size: 30px;
  font-weight: 900;
  color: #ffffff;
  margin-top: 102px;
  text-align: right;
  margin-right: 53px;
}

.section5 .chek p {
  text-align: right;
  font-size: 16px;
  font-weight: 300;
  margin-right: 53px;
}

.section5 .chek .left {
  text-align: left;
  margin-left: 53px;
}

.section5::before {
  content: attr(data-ore);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 167px;
  height: 167px;
  background-color: rgba(0, 191, 255, 0.2);
  -webkit-transform: translate(745px, 172px);
          transform: translate(745px, 172px);
}

.section6 {
  min-height: 690px;
  padding: 80px 0 73px 0;
}

.section6 .i {
  display: block;
  margin: 0 auto;
}

.section6 .sub {
  margin-top: 62px;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  color: #393939;
}

.section6 button {
  display: block;
  margin: 0 auto;
  margin-top: 46px;
  width: 236px;
  height: 59px;
  border: none;
  background-color: #00BFFF;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
}

.section6 button:hover {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, #696969), to(#1E90FF));
  background: linear-gradient(to top, #696969 5%, #1E90FF);
}

.footer {
  min-height: 497px;
  padding: 40px 0 40px 0;
  background-color: #2685AA;
}

.footer h2 {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.footer p {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}

.footer .menu {
  list-style-type: none;
  font-size: 14px;
  font-weight: 300;
  margin-left: -39px;
}

.footer .menu a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer .menu a:hover {
  color: #D2691E;
}

.footer hr {
  width: 1171px;
  height: 1px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 20px;
}

.footer .descr {
  text-align: center;
  margin-top: 41px;
}

@media (max-width: 1200px) {
  .section1 .title_sub {
    font-size: 35px;
  }
  .section1 .tele {
    margin-top: 77px;
    max-width: 399px;
  }
  .section2 .list {
    margin-left: -24px;
  }
  .section3 .list {
    width: 914px;
  }
  .section3 .list_main {
    font-size: 12px;
  }
  .section5 .title::before {
    -webkit-transform: translate(491px, 172px);
            transform: translate(491px, 172px);
  }
  .section5 .chek:hover {
    display: none;
  }
  .section5::before {
    -webkit-transform: translate(303px, 172px);
            transform: translate(303px, 172px);
  }
  .footer hr {
    width: 848px;
  }
}

@media (max-width: 992px) {
  .header {
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 100;
    -webkit-transform: translate(0px, -85px);
            transform: translate(0px, -85px);
  }
  .header .menuactive {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
  }
  .header .active {
    display: none;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.6);
    width: 235px;
    height: 0;
    z-index: 100000;
    -webkit-transform: translate(240px, -11px);
            transform: translate(240px, -11px);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .header .active .cytes {
    display: none;
  }
  .header .active .cytes_list {
    color: #000000;
    margin-top: 10px;
  }
  .header .active .bill {
    opacity: 0.9;
  }
  .header .cytes {
    display: none;
  }
  .section1 {
    margin-top: 82px;
  }
  .section1 .tele {
    display: none;
  }
  .section1 .title {
    margin-left: 66px;
  }
  .section1 .title_sub {
    text-align: center;
  }
  .section1 .title_descr {
    text-align: center;
  }
  .section1 .title button {
    margin-left: 179px;
  }
  .section2 .list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 171px;
  }
  .section3 .list {
    width: 723px;
  }
  .section3 .list_main {
    border-right: none;
    font-size: 14px;
    padding-right: 38px;
    margin-right: 0;
  }
  .section3 img {
    width: 101%;
  }
  .section5 .title::before {
    display: none;
  }
  .section5::before {
    display: none;
  }
  .footer hr {
    width: 586px;
  }
}

@media (max-width: 768px) {
  .header {
    width: 100%;
  }
  .header .active {
    -webkit-transform: translate(143px, -11px);
            transform: translate(143px, -11px);
  }
  .section1 img {
    display: block;
    margin: 0 auto;
  }
  .section1 .menu {
    margin-left: -36px;
  }
  .section1 .title {
    margin-left: -49px;
  }
  .section2 .list {
    margin-left: 82px;
  }
  .section3 .list {
    width: 528px;
  }
  .section3 .list_main {
    font-size: 11px;
    padding-right: 23px;
  }
  .section5 .chek .left {
    text-align: center;
    margin-left: 0;
  }
  .section5 .chek .sub {
    margin-right: 0;
    text-align: center;
  }
  .section5 .chek p {
    margin-right: 0;
    text-align: center;
  }
  .footer .wapper .title {
    text-align: center;
  }
  .footer .wapper img {
    display: block;
    margin: 0 auto;
  }
  .footer .wapper p {
    text-align: center;
  }
  .footer .title {
    text-align: center;
  }
  .footer .menu {
    text-align: center;
  }
  .footer hr {
    width: 474px;
  }
}

@media (max-width: 586px) {
  .header .active {
    -webkit-transform: translate(28px, -11px);
            transform: translate(28px, -11px);
  }
  .section1 .menu {
    display: block;
    text-align: center;
  }
  .section1 .title {
    width: 334px;
    margin-top: 12px;
    margin-left: -17px;
  }
  .section1 .title_sub {
    font-size: 19px;
  }
  .section1 .title_descr {
    font-size: 16px;
  }
  .section1 .title button {
    margin-left: 48px;
  }
  .section2 .list {
    margin-left: -28px;
  }
  .section2 .list_sub img {
    width: 50%;
  }
  .section2 .list_sub .listdescr {
    margin-left: 20px;
  }
  .section3 .list {
    display: block;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: -1px;
    margin: none;
    margin-top: 28px;
    margin-left: 81px;
    width: 157px;
    text-align: center;
  }
  .section3 .list_main {
    font-size: 10px;
    display: block;
    margin-right: 0;
    border-right: none;
    padding-right: 42px;
    margin-right: 0;
  }
  .section3 .list_main:nth-child(6) {
    margin-right: -1px;
  }
  .section3 img {
    margin-top: 221px;
  }
  .footer hr {
    width: 240px;
  }
}

@media (max-width: 320px) {
  .header .active {
    -webkit-transform: translate(28px, -11px);
            transform: translate(28px, -11px);
  }
  .section1 .menu {
    display: block;
    text-align: center;
  }
  .section1 .title {
    width: 334px;
    margin-top: 12px;
    margin-left: -31px;
  }
  .section1 .title_sub {
    font-size: 19px;
  }
  .section1 .title_descr {
    font-size: 16px;
  }
  .section1 .title button {
    margin-left: 48px;
  }
  .section2 .list {
    margin-left: -16px;
  }
  .section2 .list_sub img {
    width: 50%;
  }
  .section2 .list_sub .listdescr {
    margin: 0;
  }
  .section3 .list {
    display: block;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: -1px;
    margin: none;
    margin-top: 28px;
    margin-left: 68px;
    width: 157px;
    text-align: center;
  }
  .section3 .list_main {
    font-size: 10px;
    display: block;
    margin-right: 0;
    border-right: none;
    padding-right: 42px;
    margin-right: 0;
  }
  .section3 .list_main:nth-child(6) {
    margin-right: -1px;
  }
  .section3 img {
    margin-top: 221px;
  }
  .footer hr {
    width: 240px;
  }
}
/*# sourceMappingURL=style.css.map */